 *{
    background-color: white;
    box-sizing: border-box; 
  }

#box{
    background-color: gray;
    padding:16px 40px 16px 40px;
    border: 3px solid black;
    width:400px;
    margin-top:50px;
    float:left;
    margin-right: 10px;
}
#content {
    background-color: gray;
}

h2{
 
    text-align: center;
    background-color: white;
}

#highlight {
    
    text-align: right;
    font-size:20px;
    font-weight: bold;
    font-color:black;
    font-style: normal;
    border: 2px solid blue;
    background-color:gray;
    opacity:.6;
}
#highlight2 {
    
    text-align: right;
    font-size:20px;
    font-weight: bold;
    font-color:white;
    font-style: normal;
    border: 2px solid blue;
    background-color:red;
    opacity:.6;
}
#highlight3 {
    
    text-align: right;
    font-size:20px;
    font-weight: bold;
    font-color:black;
    font-style: normal;
    border: 2px solid blue;
    background-color:pink;
    opacity:.6;
}

 

#p1 {
	  font-size:14px;
    font-weight: bold;
    font-style: italic;
    background-color:gray;
    opacity:.6;
  }

#p2 {
	font-size:14px;
    font-weight: bold;
    font-style: italic;
    background-color:green;
    opacity:.6; 
    }

#p3 {
    font-size:14px;
    font-weight: bold;
    font-style: italic;
    background-color:pink;
    opacity:.6;
   }

@media (min-width:992px)
{

     	#p1{
	       background-color: gray;
           width: : 325px;
           height: 75px;

           }

       #p2{
	       background-color: green;
           width: : 325px;
           height: 75px;

          }

       #p3{
	       background-color: pink;
           width: : 325px;
           height: 75px;
          }
}
@media (min-width:768px) and (max-width:991px)
{

        #p1{
           background-color: gray;
           width: : 600px;
           height: 75px;
           }

       #p2{
           background-color: green;
           width: : 600px;
           height: 75px;
           float:right;
        
          }

       #p3{
           background-color: pink;
           width: : 1200px;
           height: 75px;
          }
}
@media (min-width:767px)
{

        #p1{
           background-color: gray;
           width: : 100%;
           height: 75px;
           }

       #p2{
           background-color: green;
           width: : 100%;
           height: 75px;
          }

       #p3{
           background-color: pink;
           width: : 100%;
           height: 75px;
          }
}